<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">LTruyện</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link ml-4 mr-4" href="#">HOT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" href="/genre">THỂ LOẠI <i class="fa-solid fa-chevron-down"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" href="#">THEO DÕI</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav">

            <li class="nav-item ml-2">
                <a class="nav-link font-weight-bold" href="/upload">
                    <i class="fa-solid fa-circle-plus"></i>
                    STORY
                </a>
            </li>

            <li class="nav-item ml-2">
                <a class="nav-link" href="/search">
                    Search
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </li>

            <li class="nav-item ml-2">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-circle-half-stroke"> T H E M E</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-bold" href="#"><i
                            class="fa-sharp fa-solid fa-circle theme-dark"></i> Nền
                        tối</a>
                    <a class="dropdown-item font-weight-bold" href="#"><i
                            class="fa-sharp fa-solid fa-circle theme-light"></i> Nền
                        sáng</a>
                    {{!-- <div class="dropdown-divider"></div> --}}
                    <a class="dropdown-item font-weight-bold" href="#"><i
                            class="fa-sharp fa-solid fa-circle theme-bule"></i> Nền
                        xanh</a>
                </div>
            </li>





            <li class="nav-item dropdown ml-2">
                <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CÁ NHÂN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-user-tie"></i> Trang cá nhân</a>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-bookmark"></i> Truyện theo dỗi</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất
                    </a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<script src="https://kit.fontawesome.com/152a8538e7.js" crossorigin="anonymous"></script>