<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="inputSearch">Thông tin cần tìm</label>

            <input name="q" type="text" class="form-control btn-search" id="inputSearch" aria-describedby="emailHelp"
                placeholder="Nhập thông tin cần tìm">
        </div>


        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>